@import '../../Scss/vars';
@import '../../Scss/mixins';

.siteSections {    
    margin-bottom: 40rem;
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, 158rem);
        gap: 30rem;        
    }   
}