@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.settings {
    &__title {
        margin-bottom: 16rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 12rem;
        @include tablet-small-768 {
            gap: 16rem;
        }
    }
}


