@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.profileFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16rem;
    row-gap: 32rem;
    margin-bottom: 68rem;
    @include mobile-576 {
        grid-template-columns: 1fr;
    }
}


