@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.siteSections {    
    margin-bottom: 40rem;
    &__row {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30rem;
        @include tablet-small-768 {
            grid-template-columns: repeat(3, minmax(100rem, 1fr));
            gap: 15rem;
        }        
    }   
}