@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.block {
    border: 1px solid $btn-bg;
    border-radius: $radius;
    padding: 16rem;
    display: flex;
    gap: 12rem;
    transition: $transition;
    &:hover {
        border: 1px solid $color-primary;
        outline: 1px solid $color-primary;
        background: $bg-blue;
        .block__icon {
            background: $color-primary;
        }
        .block__icon svg {
            path {
                stroke: $color-white;
            }
        }
    }
    &__icon {
        background: $btn-bg;
        border-radius: 12rem;
        width: 40rem;
        transition: $transition;
        @include flex-center;
        svg {
            transition: $transition; 
        }
        
    }
    &__title {
        @include text ($ff, 14rem, 20rem, 700, $color-titles);        
        letter-spacing: 0.1px;
        margin-bottom: 2rem;
    }

    &__desc {
        @include text ($ff, 13rem, 18rem, 400, $color-grey);
        letter-spacing: 0.2px;
    }
}
