@import '../../Scss/vars';
@import '../../Scss/mixins';

.SiteSections {    
    margin-bottom: 40rem;
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 30rem;        
    }   
}