@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.header {    
    padding: 15rem 0;
    border-bottom: 1px solid $btn-bg;
    &__container { 
        display: flex;
        align-items: center;      
                        
    }
    &__logo {
        max-width: 78rem;
        margin-right: 48rem;
    }

    &__nav {
        margin-left: auto;
        margin-right: 24rem;
    }

    &__ul {
        display: flex;        
    }

    &__li {
        margin-right: 28rem;
        a{
            @include text ($ff, 14rem, 20rem, 700, $color-titles);
            letter-spacing: 0.1px;
        }
        &:nth-child(2) {
            margin-right: 28rem;
        }
        &:last-child {
        padding-left: 20rem;
        border-left: 1rem solid $btn-bg;
        margin-right: 0;
        }
    }
    &__profile {
        max-width: 50rem;
        border-radius: $radius;
        border: 2px solid $btn-bg;
        margin-left: 16rem;
        cursor: pointer;
    }
    }
    


.headerBusket {
    max-width: 48rem;
    height: 48rem;
    width: 100%;
    cursor: pointer;
    background: $bg-blue;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__counter {
    }
}

