@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.header { 
    // display: none;   
    padding: 15rem 0;
    border-bottom: 1px solid $btn-bg;
    &__container { 
        display: flex;
        align-items: center; 
    }
    &__logo {
        max-width: 78rem;
        margin-right: 48rem;
    }
    &__nav {
        margin-left: auto;
        margin-right: 24rem;
    }
    &__ul {
        display: flex;        
    }
    &__li {
        margin-right: 28rem;
        a{
            @include text ($ff, 14rem, 20rem, 700, $color-titles);
            letter-spacing: 0.1px;
        }
        &:nth-child(2) {
            margin-right: 28rem;
        }
        &:last-child {
        padding-left: 20rem;
        border-left: 1rem solid $btn-bg;
        margin-right: 0;
        }
    }
    &__profile {
        max-width: 50rem;
        padding: 1rem;
        border-radius: $radius;
        border: 2rem solid $btn-bg;
        margin-left: 16rem;
        border-radius: $radius; 
        img {
            border-radius: $radius; 
        }       
    }
} 
.headerBusket {
    max-width: 48rem;
    height: 48rem;
    width: 100%;
    cursor: pointer;
    background: $bg-blue;
    border-radius: $radius;
    @include flex-center;
    position: relative;
    &__counter {
        position: absolute;
        top: -4rem;
        right: -4rem;
        width: 20rem;
        height: 20rem;
        @include flex-center;
        @include text ($ff, 10rem, 14rem, 700, $color-white);
        background: $color-primary;
        border-radius: 8px;
    }
}

