@import '../../Scss/vars';
@import '../../Scss/mixins';

.restaurants {    
    padding-bottom: 40rem;
    &__title {
        margin-bottom: 16rem;
    }
    &__row {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300rem, 346rem));
        gap: 30rem;        
    }   
}