@import '../../../Scss/vars';
@import '../../../Scss/mixins';

.avatar {
    margin: 16rem 0;
    &__title {
        margin-bottom: 8rem;
    }
    &__row {
        display: flex;
        gap: 17rem;
        align-items: center;
    }

    &__image {
        width: 88rem;
        border-radius: 12rem;
        margin-right: 7rem;
        cursor: pointer;
        img {
            border-radius: 12rem;
        }
    }    
}

