
@import 'src/Scss/vars';
@import 'src/Scss/mixins';

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 1px;
    height: 100%;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    height: 100%; 
    display: grid; 
    grid-template-rows: auto 1fr;
}
.container {
    max-width: 1130px;
    width: 100%;
    padding: 0 15px;
    margin-inline: auto;
    @include mobile-576 {
        padding: 0 24px;        
    }
}
body {
    font-family: $ff;     
    height: 100%;     
}
#root {
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;
  }
.title {
    @include text ($ff, 20rem, 28rem, 600, $color-titles);
    letter-spacing: 0.1px;
    // @include mobile-576 { 
    //     @include text($ff, 2.8rem, 3.8rem, 700, $color-text);        
        
    // }
}
.heading {
    @include text($ff, 12rem, 16rem, 600, $color-grey); 
}

