$ff: 'Nunito', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-primary: #4E60FF;
$color-titles: #2B2B43;
$color-grey:  #545563;
$color-grey-light: #83859C;
$bg-blue: #F3F4FF;
$btn-bg: #EDEEF2;
$input-border: #C7C8D2;
$btn-red: #FF5C60;
$bg-red: #FFF3ED;

$transition: .2s all ease-in-out;

$radius: 16rem;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


