@import '../../Scss/vars';
@import '../../Scss/mixins';

.sales {
    margin-top: 24rem;
    margin-bottom: 32rem;
    &__row {
        display: grid;
        justify-content: center;        
        grid-template-columns: repeat(2, minmax(480rem, 535rem));
        gap: 30rem;
        @media screen and (max-width: 1050px){
            grid-template-columns: minmax(480rem, 535rem);
        } 
        @include mobile-576 {
            grid-template-columns: auto;
        }  
    }
}