@import '../../Scss/vars';
@import '../../Scss/mixins';

.sales {
    margin-top: 24rem;
    margin-bottom: 32rem;
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30rem;
        @include tablet-992 {
            grid-template-columns: repeat(auto-fit, 540rem);
            justify-content: center;
        }
    }   
}